<div>
    <div v-touch:end="timerTrigger">
        <p class="scramble">{{ scramble }}</p>
        <h1 :class="{ timer: true, bestTime: bestTime }">{{ time.toFixed(2) }}</h1>
        <p class="average">session average: {{ sessionAverage === 0.00 ? '--' : sessionAverage.toFixed(2) }}</p>
    </div>
    <b-row>
        <b-col md="8">
            <div class="chart">
                <canvas id="solvesChart"></canvas>
            </div>
        </b-col>
        <b-col md="4">
            <div class="times">
                <b-table bordered dark responsive fixed :fields="fields" :items="solves">
                    <template v-slot:cell(time)="data">
                        <div @mouseover="data.item.showPlusTwo = true" @mouseleave="data.item.showPlusTwo = false">{{ data.item.time.toFixed(2) }} <b v-if="!data.item.isPlusTwo" @click="plusTwoClick(data.item)"><span class="plusTwo" v-show="data.item.showPlusTwo">+2</span></b></div>
                    </template>
                    <template v-slot:cell(dnf)="data">
                        <b v-show="data.item.dnf" @click="toggleDNF(data.item)"><i class="fas fa-times-circle"></i></b>
                        <b v-show="!data.item.dnf" @click="toggleDNF(data.item)"><i class="far fa-times-circle"></i></b>
                    </template>
                </b-table>
            </div>
        </b-col>
    </b-row>
    <b-button @click="exportSolves" onclick="this.blur()">export solves to CSV</b-button> <b-button @click="openSolves" onclick="this.blur()">import solves from CSV</b-button>
    <input type="file" id="file-input" style="display:none" @change="importSolves" />
</div>
